<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs')  %>

<body>
    <header>

        <h2><%= title %></h2>
        <%- include('partials/navbar.ejs')  %>
    </header>
    <%- include('partials/foot.ejs')  %>

</body>
</html>