<ul class="list">
    <li >
        <a href="/register" class="menu">Cadastre-se</a>
    </li>
</ul>
<ul class="list">
    <li >
        <a href="/list" class="menu">Listagem de Clientes</a>
    </li>

</ul>
